<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/img/logo.jpg" />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      <p>Mapbox API:
        <a
          href="https://docs.mapbox.com/help/getting-started/geocoding/"
        >https://docs.mapbox.com/help/getting-started/geocoding/</a></p>
      <p>Weather API:
        <a href="https://weatherstack.com/">https://weatherstack.com/</a></p>
      <p>Purpose: The app is for knowing about the weather details based on the
        place.</p>
    </div>
  </body>
</html>