/*
Author:    Build Rise Shine with Nyros (BRS)
Created:   11.05.2022
Library / Component: Styling page for the app
(c) Copyright by BRS with Nyros.
*/

:root {
  --primary-color: #1a4b84;
  --chathams_blue: #1a4b84;
  --tamarillo: #991e14;
  --yellow_sea: #fead06;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--primary-color);
}

p {
  text-align: center;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}

/* NAVBAR STYLING STARTS */

.nav-links a {
  color: #fff;
}

/* Header Styles
  -------------------------------------------------- */

header .bg-gradient {
  background: rgb(216, 216, 216);
}

body {
  background: url("../img/BG.png");
  background-size: cover;
}

header .navbar {
  padding: 20px 0 0;
}

header .navbar-brand {
  padding: 0;
  z-index: 1;
  width: 213px;
  height: 109px;
  background-color: var(--primary-color);
}

header .navbar-brand img {
  width: 56px;
}

img {
  max-width: 100%;
}

header h3 {
  font: normal normal 600 18px/27px Oswald;
  color: #fff;
}

header h4 {
  font: normal normal 600 18px/28px Oswald;
  letter-spacing: 0.36px;
  color: #191919;
  text-transform: uppercase;
}

header p {
  font: 600 12px/15px Poppins;
  letter-spacing: 0.24px;
  color: #191919;
}

.ReactTitle {
  background-color: #838383;
  height: 50px;
  font: normal normal 600 19px/27px Oswald;
  letter-spacing: 0.38px;
  color: #ffffff;
  text-transform: uppercase;
}

.ReactTitle img {
  width: 25px;
  margin-right: 10px;
}

.link {
  background-color: rgba(0, 0, 0, 0.09);
  font: normal normal medium 12px/15px Poppins;
  letter-spacing: 0.24px;
  height: 40px;
  padding: 10px 10px;
}

.link a {
  color: #055ba6;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.footer-dark {
  background-color: var(--primary-color);
  color: #fff;
}

.toggle-currency {
  font-size: 20px;
}

footer {
  font: normal normal 600 12px/19px Oswald;
  letter-spacing: 0.24px;
  color: #ffffff;
}

.theme-switch {
  margin: 0 5px;
  padding: 10px;
  font-size: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.theme-switch-chathams_blue {
  background-color: var(--chathams_blue);
}

.theme-switch-chathams_blue:hover {
  box-shadow: 2px 2px 2px var(--chathams_blue);
}

.theme-switch-tamarillo {
  background-color: var(--tamarillo);
}

.theme-switch-tamarillo:hover {
  box-shadow: 2px 2px 2px var(--tamarillo);
}

.theme-switch-yellow_sea {
  background-color: var(--yellow_sea);
}

.theme-switch-yellow_sea:hover {
  box-shadow: 2px 2px 2px var(--yellow_sea);
}

.input-ele {
  margin-left: 500px;
  height: 30px;
  width: 250px;
}

.search-btn-ele {
  margin-left: 580px;
  margin-top: 25px;
  margin-bottom: 35px;
  height: 25px;
  width: 80px;
}
